/Projetos/Construtores/nbproject/private/
/Projetos/Construtores/Construtores/nbproject/private/
/Projetos/Construtores/Construtores/build/
/Projetos/Enums/nbproject/private/
/Projetos/Enums/build/
/Projetos/Pilares POO/nbproject/private/
/Projetos/Pilares POO/build/
/Projetos/Interligação/nbproject/private/
/Projetos/Interligação/build/
/Projetos/SimulaçãoBancaria/nbproject/private/
/Projetos/SimulaçãoBancaria/build/
/Projetos/Collections/nbproject/private/
/Projetos/Collections/build/
/Projetos/PesquisaList/nbproject/private/
/Projetos/PesquisaList/build/
/Projetos/OrdenacaoList/nbproject/private/
/Projetos/OrdenacaoList/build/
/Projetos/ConjuntosConvidados/nbproject/private/
/Projetos/ConjuntosConvidados/build/
